verde= #009680
body
	background-color #eee

.cabecera
	color white
	background-color verde
	width 100%
	img
		margin 15px 0 0 20px
	h1
		display inline-block
		vertical-align top
		margin 10px 0 0 50px
		font-size 36px
	h2
		text-decoration none
		font-size 12px
		margin -30px 10px 0 85px
		text-align center
		font-weight normal

header
	background-color verde
	padding-bottom 20px

section
	margin-left 20px

#botones
	margin-left 20px
	.boton
		background-color verde
		text-decoration none
		color white
	.x
		padding 5px 10px 5px 10px
		margin-left 5px
	.y
		padding 5px 10px 5px 10px
		margin-left 6%

#mapa_adm
	background-color red
	width 500px
	height 100%
	float right
footer 
	width 100%
	height 20px
	background-color verde


		



			
		
	